html {
	font-family: sans-serif;
}

h1 {
	border-bottom: 1px solid black;
}

code {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0px 2px;
}

pre > code {
	border: none;
	padding: 0px;
}

pre {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 2px;
}

main .screenshot p {
	border-radius: 3px;
	margin: 5px;
}

main .screenshot img {
	border-radius: 5px;
	max-width: 100%;
}

aside {
	float: left;
	width: 30%;
}

aside > div {
	margin: 1em;
}

aside figure {
	margin: 0px;
}

aside figcaption {
	text-align: center;
	font-size: 75%;
}

aside section {
	margin-bottom: 1em;
}

aside .data table {
	font-family: sans-serif;
	font-size: 80%;
	font-weight: bold;
	width: 100%;
}

aside .data table td {
	padding: 0.5em;
	vertical-align: top;
}

aside .data table td:first-child {
	text-align: left;
	font-weight: normal;
}

aside .data ul {
	list-style: none;
	margin: 0em;
	padding: 0px;
}

aside .data ul li {
	list-style: none;
	margin: 0.5em 0em;
	padding: 0px;
}

aside .data ul li:first-child {
	margin: 0px;
}

article {
	margin-left: 30%;
	padding-left: 0.5em;
}

main .screenshot {
	display: block;
	text-align: center;
	font-size: small;
	border: 1px solid black;
	background: white;
	border-radius: 3px;
}

dt {
	margin-top: 1em;
	margin-bottom: 0.3em;
	font-weight: bold;
}

p.title {
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	margin: 0.7em;
	padding: 0.7em;
 	background: #e6c3a1;
	border-radius: 0.5em;
	color: #222;
}
