html {
	font-family: sans-serif;
}

div.content div.screenshot {
	display: block;
	text-align: center;
	font-size: small;
}

div.content div.screenshot img {
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
}

h1 {
	border-bottom: 1px solid black;
}
