<nav class="global">
	<div>
		<div id="gultij-root">
			<a href="http://www.gultij.org/">Grupo de Usuarios de GNU/Linux de Tijuana</a>
		</div>
		<div id="menu-sitios">
			<a href="http://opencharla.gultij.org/">OpenCharla</a> 
			<a class="here" href="{{ site.url }}/">Alternus</a>
			<div id="iconos">
				<a href="https://www.facebook.com/groups/gultij"><img src="{{ site.url }}/images/facebook.png"></a>
				<a href="https://plus.google.com/communities/102802385657041516164"><img src="{{ site.url }}/images/google_plus.png"></a>
				<a href="https://twitter.com/gultij"><img src="{{ site.url }}/images/twitter.png"></a>
				<a href="https://github.com/gultij"><img src="{{ site.url }}/images/github-light.png"></a>
			</div>
		</div>
	</div>
</nav>

